body{
    font-family: CeraPro;
    font-weight: 500;


}

.jumbotron{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: black;
    border-bottom: 10px;
}

.navbar{
    background-image: url(images/headeropac2.png);
    text-align: right;
    font-size: 20px;
    border: 1px solid darkblue;
    border-collapse: collapse;
}
.nav-link{
    color: white;
    margin-top: 40px;
    margin-right: 30px;
}
.nav-item{
    color: white;
}
.navbar-brand{
    text-align: right;
}

#links a:link{
    color: white;
}


#links a:hover{
    color: darkblue;
}
.input-group {
    margin: 10px 0px 10px 0px;
}

.header{
    text-align: center;
}
form .content{
    width: 30%;
    margin: 10px 10px 10px;
    padding: 10px;
    border: 1px solid black;
    background: white;
    border-radius: 0px 0px 10px 10px;
}
.input-group input{
    width: 80%;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid darkblue;
}
label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
.input-group label{
    margin: 3px;
}
.btn button{
    padding: 30px;
    font-size: 15px;
    color: darkslateblue;
    background: darkblue;
    border: none;
    border-radius: 5px;
    justify-content: center;
}

.success{
    text-align: right;
    color: black;
    border: 2px solid darkblue;
    border-radius: 5px;
}
.error{
    text-align: center;
    color: darkred;
}
footer {
    background-color: aliceblue;
    border: 1px solid lightblue;
}
form.search input[type=search] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
form.search button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
}
.login {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: darkblue;
    font-weight: bold;
    font-size: 25px;
}

.un {
    width: 76%;
    color: black;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: black;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #FFF;
    background: linear-gradient(to right, blue, lightblue);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}